webenv/
__pycache__/
*/__pycache__/
HavocOS_Web/db.sqlite3
HavocOS_Web/HavocOS_Web/SECRET_KEY
HavocOS_Web/havochome/templates/havochome/about.html
HavocOS_Web/havochome/templates/havochome/downloads.html
*.bak
HavocOS_Web/HavocOS_Web/testjson.py
